.idea
for-terraform/.terraform/
**/.terraform/*
*.tfstate
*.tfstate.**.tfvars
*.tfvars.json
*.terraform.tfstate.lock.info
*.tfplan*
.env
**/secrets.yaml/**
kubeseal
*.tar.gz
!k8s-GitOps/microservices/secrets.yaml
**/my-cluster-key.pem